@{
  Layout = "_Base";
}

@using VendorOrderTracker.Models;

<h3>Order Details</h3>

<fieldset>
  <legend>
    <span class='order-name'>@Model["order"].Title</span> for <span class='vendor-name'>@Model["vendor"].Name</span>
  </legend>
  <p>
    <b>Description</b>: @Model["order"].Description<br />
    <b>Price</b>: @Model["order"].Price<br />
    <b>Date</b>: @Model["order"].Date<br />
  </p>
  <a href='/vendors/@Model["vendor"].GetVendorId()/orders/@Model["orderId"]/edit'><button type='button'>Edit Order</button></a>
  <a href='/vendors/@Model["vendor"].GetVendorId()/orders/@Model["orderId"]/delete'><button class='delete' type='button'>Delete Order</button></a>
</fieldset>
<a href='/vendors'><button type='button'>View Vendors</button></a>
